* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #153677, #4e085f);
}

header {
    position: absolute;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

header img {
    height: 50px;
    width: 50px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.box {
    position: absolute;
    top: 20px;
    left: 600px;

}

.btn {
    position: absolute;
    left: 158px;
}

#btn1 {
    width: 100px;
    height: 35px;
    background-color: rgba(34, 156, 190, 0.668);
}

.info h1 {
    color: white;
}

.imgcon .img {
    margin: 10px;
    border: 1px solid white;
    width: 350px;
    height: 400px;
}


@media screen and (max-width: 400px) {

    /* Apply styles for screens wider than 600px */
    body {
        font-size: 16px;
    }

    .container {
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg, #153677, #4e085f);
        display: flex;
        flex-direction: column;
    }

    .box {
        position: absolute;
        top: 80px;
        left: 5px;

    }

}